<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item href="#">
                Dashboard
            </a>
            <a mat-list-item href="#">
                Teamler
            </a>
            <a mat-list-item href="#">
                Ehemalige Teamler
            </a>
            <a mat-list-item href="#">
                Peak Spielerzahl
            </a>
            <a mat-list-item href="#">
                AVG Spielerzahl
            </a>
            <a mat-list-item href="#">
                Einreisen
            </a>
            <a mat-list-item href="#">
                Supportfälle
            </a>
            <a mat-list-item href="#">
                Analysen
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>