<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item href="/dashboard">
                Dashboard
            </a>
            <a mat-list-item href="/teamler">
                Teamler
            </a>
            <a mat-list-item href="/ehemalige-teamler">
                Ehemalige Teamler
            </a>
            <a mat-list-item href="/peak-player-count">
                Peak Spielerzahl
            </a>
            <a mat-list-item href="/avg-player-count">
                AVG Spielerzahl
            </a>
            <a mat-list-item href="/arrivals">
                Einreisen
            </a>
            <a mat-list-item href="/support-cases">
                Supportfälle
            </a>
            <a mat-list-item href="/analyses">
                Analysen
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>