.page-main {
    background-image: url('../images/corleone_city_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Optional: Change text color for better readability */
    text-align: center;
}

.page-toolbar {
    color: white;
    background-color: #2e3b5f;
    justify-content: center;
}

.page-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}