<div class="page-main">
    <mat-toolbar color="primary">
        @if (!authStore.isLoggedIn()) {
            <span>
                Welcome, please log in
            </span>
        } @else {
            Welcome, {{ authStore.username() }}
        }

        <span style="flex: 1 1 auto;"></span>
        @if (authStore.isLoggedIn()) {
            <button mat-button (click)="authStore.logout()">
                Logout
            </button>
        }
    </mat-toolbar>

    <div class="page-content">
        @if (authStore.isLoggedIn()) {
            <div class="content-wrapper">
                <!-- Side Navbar -->
                <app-sidenav></app-sidenav>
        
                <!-- Hauptinhalt -->
                <div class="main-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        } @else {
            <app-login></app-login>
        }
    </div>
</div>